/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        HMR: HMR {
            compatible = "zmk,behavior-hold-tap";
            label = "HMR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39 40 41>;
            hold-trigger-on-release;
        };

        HML: HML {
            compatible = "zmk,behavior-hold-tap";
            label = "HML";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <280>;
            quick-tap-ms = <175>;
            flavor = "tap-preferred";
            hold-trigger-on-release;
            hold-trigger-key-positions = <36 37 38 6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 39 40 41>;
        };

        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
        };
    };

    macros {
        select_word_previous: select_word_previous {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LS(LEFT_ARROW))>;
            label = "SELECT_WORD_PREVIOUS";
        };

        select_word_next: select_word_next {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(LA(RIGHT_ARROW))>;
            label = "SELECT_WORD_NEXT";
        };

        select_all_left: select_all_left {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(HOME)>;
            label = "SELECT_ALL_LEFT";
        };

        select_all_right: select_all_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LS(END)>;
            label = "SELECT_ALL_RIGHT";
        };

        select_line: select_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp HOME &select_all_right>;
            label = "SELECT_LINE";
        };

        insert_new_line: insert_new_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp UP_ARROW &new_line>;
            label = "INSERT_NEW_LINE";
        };

        new_line: new_line {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp END &kp ENTER>;
            label = "NEW_LINE";
        };

        new_macro: new_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&none>;
            label = "NEW_MACRO";
        };
    };

    combos {
        compatible = "zmk,combos";

        select_line {
            bindings = <&select_line>;
            key-positions = <8 9 37>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer_mac {
            bindings = <
&kp TAB    &kp Q                &kp W            &kp F            &kp P  &kp B        &kp J    &kp L  &kp U            &kp Y               &kp SEMI              &kp DEL
&kp BSPC   &HML LEFT_CONTROL A  &HML LEFT_ALT R  &HML LEFT_GUI S  &kp T  &kp G        &kp K    &kp N  &HMR LEFT_GUI E  &HMR RIGHT_ALT I    &HMR RIGHT_CONTROL O  &kp SQT
&kp LSHFT  &kp Z                &kp X            &kp C            &kp D  &kp V        &kp M    &kp H  &kp COMMA        &kp DOT             &kp FSLH              &kp RET
                                                 &kp LGUI         &mo 4  &kp SPACE    &kp RET  &mo 3  &kp RALT
            >;
        };

        default_layer_win {
            bindings = <
&kp TAB    &kp Q            &kp W            &kp F                &kp P  &kp B        &kp J    &kp L  &kp U                 &kp Y               &kp SEMI          &kp DEL
&kp BSPC   &HML LEFT_GUI A  &HML LEFT_ALT R  &HML LEFT_CONTROL S  &kp T  &kp G        &kp K    &kp N  &HMR RIGHT_CONTROL E  &HMR RIGHT_ALT I    &HMR LEFT_GUI O   &kp SQT
&kp LSHFT  &kp Z            &kp X            &kp C                &kp D  &kp V        &kp M    &kp H  &kp COMMA             &kp DOT             &kp FSLH          &kp RET
                                             &kp LCTRL            &mo 1  &kp SPACE    &kp RET  &mo 2  &kp RALT
            >;
        };

        nav_layer {
            bindings = <
&kp KP_MULTIPLY  &kp MINUS  &ht AMPS N7  &ht ASTRK N8  &ht LPAR N9  &kp PLUS     &kp HOME              &select_word_previous  &select_all_left   &select_all_right  &select_word_next  &kp END
&kp KP_DIVIDE    &kp BSPC   &ht DLLR N4  &ht PRCNT N5  &ht CARET N6 &kp RET      &kp LS(LC(LA(LGUI)))  &kp LEFT               &kp DOWN           &kp UP             &kp RIGHT          &new_line
&kp BSLH         &kp N0     &ht EXCL N1  &ht AT N2     &ht HASH N3  &kp DOT      &kp LA(LS(MINUS))     &kp LS(LC(TAB))        &kp PG_DN          &kp PG_UP          &kp LC(TAB)        &insert_new_line
                                         &kp TILDE     &kp SPACE    &kp LSHFT    &kp SPACE             &kp LG(LS(LEFT))       &kp LS(LG(RIGHT))
            >;
        };

        lower_layer {
            bindings = <
&kp TAB     &trans        &trans        &trans        &trans        &trans          &trans          &kp MINUS  &kp EQUAL  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp BSPC
&bt BT_CLR  &kp N1        &kp N2        &kp N3        &kp N4        &kp N5          &kp N6          &kp N7     &kp N8     &kp N9            &kp N0             &trans
&kp LSHFT   &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4    &kp LEFT_ARROW  &kp DOWN   &kp UP     &kp RIGHT         &trans             &trans
                                        &kp LGUI      &trans        &kp SPACE       &kp RET         &trans     &kp RALT
            >;
        };

        raise_layer {
            bindings = <
&kp TAB    &trans    &trans  &trans    &trans    &trans       &trans     &kp UNDERSCORE  &kp PLUS   &kp LEFT_BRACE  &kp RIGHT_BRACE  &trans
&kp LCTRL  &kp EXCL  &kp AT  &kp HASH  &kp DLLR  &kp PRCNT    &kp CARET  &kp AMPS        &kp ASTRK  &kp LPAR        &kp RPAR         &kp GRAVE
&kp LSHFT  &trans    &trans  &trans    &trans    &trans       &kp UNDER  &kp PLUS        &kp LBRC   &kp RBRC        &kp PIPE         &kp TILDE
                             &kp LGUI  &trans    &kp SPACE    &kp RET    &trans          &kp RALT
            >;
        };
    };
};
